$color-white: #fbfbfb;
$color-gray: #434343;
$color-black: #000000;
$color-green: #395e66;

.aboutMe {
  h1 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 2vw;
    text-align: center;
    color: $color-white;
  }

  p {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .aboutMe {
    h1 {
      font-size: 3vw;
    }

    p {
      width: 70%;
      font-size: 2vw;
    }
  }
}

@media (max-width: 480px) {
  .aboutMe {
    h1 {
      font-size: 4vw;
    }

    p {
      width: 80%;
      font-size: 2.5vw;
    }
  }
}
