$color-white: #fbfbfb;
$color-gray: #434343;
$color-black: #000000;
$color-green: #395e66;
$color-muted: rgba(0, 0, 0, 0.5);

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .content {
 margin-top: 15vh;
    .intro {
      text-align: center;
      h1 {
        font-size: 6vw;
        font-weight: 700;
        margin: 0;
        opacity: 0;
        animation: fadeIn 2s forwards, moveInFromTop 2s forwards;
      }

      h2 {
        font-size: 3vw;
        font-weight: 300;
        margin-top: 1vh;
        color: $color-muted;
        opacity: 0;
        animation: fadeIn 3s forwards, moveInFromBottom 3s forwards;
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes moveInFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveInFromBottom {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home .content .intro h1 {
    font-size: 8vw;
  }

  .home .content .intro h2 {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .home .content .intro h1 {
    font-size: 10vw;
  }

  .home .content .intro h2 {
    font-size: 7vw;
  }
}


