$color-white: #fbfbfb;
$color-gray: #434343;
$color-black: #000000;
$color-green: #395e66;

@mixin placeholder {
  color: #cecece;
  opacity: 0.6;
  font-size: 0.9rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    font-size: 2vw;
    text-align: center;
    color: $color-white;
  }

  .icon-media {
    margin-bottom: 1rem;

    a {
      font-size: 1.5vw;
      padding: 0 1rem;

      :hover {
       color: #dedede;
      }
    }
  }

  form {
    border-radius: 10px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(57, 94, 102, 0.3);
    padding: 2rem 2rem;
    #name {
      margin-right: 0.2rem;
    }

    .input-name-email {
      text-align: center;
    }

    input {
      width: 49.5%;
      margin-bottom: 1rem;
      color: $color-white;
      background-color: rgb(0, 0, 0, 0.5);
      border: none;
      border-radius: 5px;
      padding-left: 0.5rem;
    }
    input::placeholder {
      @include placeholder;
    }
    input:focus {
      outline: none;
    }
    textarea {
      border: none;
      color: $color-white;
      background-color: rgb(0, 0, 0, 0.5);
      padding-left: 0.5rem;
      border-radius: 5px;
    }
    textarea::placeholder {
      @include placeholder;
    }
    textarea:focus {
      outline: none;
    }
  }
  .btn {
    margin: 1rem auto 0;
    width: fit-content;

    background-color: rgba(13, 21, 23, 0.7);
    box-shadow: 0 0 2px $color-gray;
    color: $color-white;
    border-radius: 5px;
    padding: 0.2rem 2rem;
  }
  .btn:hover {
    color: $color-white;
    background-color: rgba(13, 21, 23, 0.4);
  }
  .btn:active{
    transform: scale(.9);
  }
}

@media (max-width: 1040px) {
  .contact {

    form {
    
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    h1 {
      font-size: 3vw;
      margin-bottom: 1.5rem;
    }
    form {
      width: 60vw;
      input {
        width: 100%;
        font-size: 1rem;
      }
      textarea::placeholder, input::placeholder {
      font-size: .8rem;
      }
      .btn{
        font-size: .6rem;
      }
    }

    .icon-media {
      margin-bottom: 0.6rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .contact {
 
    h1 {  
      font-size: 4vw;
    }
  }
}