$color-gray: rgba(167, 167, 167, 0.2);
$color-green: #395e66;

.footer {
  display: flex;
  justify-content: center;
  p {
    position: absolute;
    bottom: 0;
    font-size: 0.8vw;
    color: $color-gray;

    margin: auto;
  }
}

@media (max-width: 768px) {
  .footer {
    p {
      font-size: 1.3vw;
    }
  }
}
